doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Recipes
    link(rel="stylesheet", href="/styles.css")

  body
    h1 Recipes

    .container
      h1= recipe1.name
      
      .recipe
        section
          h2 Ingredients
          ul
            each ingredient in recipe1.ingredients
              li= ingredient

        section
          h2 Instructions
          ol
            each instruction in recipe1.instructions
              li= instruction
    
    .container
      h1= recipe2.name

      .recipe
        section
          h2 Ingredients
          ul
            each ingredient in recipe2.ingredients
              li= ingredient

        section
          h2 Instructions
          ol
            each instruction in recipe2.instructions
              li= instruction

    .container
      h1= recipe3.name

      .recipe
        section
          h2 Ingredients
          ul
            each ingredient in recipe3.ingredients
              li= ingredient

        section
          h2 Instructions
          ol
            each instruction in recipe3.instructions
              li= instruction